@charset "UTF-8";

body {
    font-family: serif, sans-serif;
    line-height: 1.75;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

html {
    font-size: calc(10 * 100vw / 390);
    scroll-behavior: smooth;
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

/* ヘッター */
.header {
    position: relative;
    background-image: url(/assets/image/main_sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 60rem;
    padding: 3rem 2rem;
}

@media(min-width:768px) {
    .header {
        background-image: url(/assets/image/main_pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 72rem;
        padding: 4rem 1rem 1rem 1rem;
    }
}


.header_logo {
    display: block;
    width: 13.9rem;
    margin: 0 auto;
}

@media (min-width:768px) {
    .header_logo {
        width: 16.6rem;
    }
}

@media (min-width:768px) {
    .header_container {
        max-width: 120rem;
        margin: 0 auto;
        line-height: 1.5;
    }
}

.header_title {
    font-weight: normal;
    letter-spacing: 1.5rem;
    height: 14rem;
    font-family: Marcellus, serif;
    margin-top: 37.2rem;
}

@media (min-width:768px) {
    .header_title {
        font-size: 5rem;
        margin: 0 0 0 0;
        line-height: 1.1;
    }
}

.header_title-text {
    display: block;
    font-size: 4.1rem;
    letter-spacing: 1.3rem;
    line-height: 1.2;
    font-family: Marcellus, serif
}

@media (min-width:768px) {
    .header_title-text {
        margin-top: 21rem;
        margin-left: 7rem;
        font-size: 5rem;
        letter-spacing: 1.6rem;
        line-height: 1.3;
    }
}

.header_title-catch {
    display: block;
    font-size: 2rem;
    letter-spacing: .65rem;
    margin: 1rem 0 0 0;
}

@media(min-width:768px) {
    .header_title-catch {
        font-size: 2.5rem;
        margin: 2rem 0 0 7rem;
        letter-spacing: .8rem;
    }
}

/* ボタン */
.main_intro {
    padding: 1rem 1.4rem 4.5rem 1.5rem;
}

@media (min-width:768px) {
    .main_intro {
        padding: 4.6rem 2rem 5rem 2rem;
    }
}

.main_intro_container {
    height: 26.1rem;
    background-color: #F0F4FF;
    padding: 2rem 2.9rem 3.4rem 2.9rem;
    font-size: 1.8rem;
}

@media (min-width:768px) {
    .main_intro_container {
        width: 100rem;
        height: 14.6rem;
        margin: 0 auto;
        padding: 0 0 0 0;
    }
}

.main_intro_container_box {
    width: 31rem;
    margin: 0 auto;
}

@media (min-width:768px) {
    .main_intro_container_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 4.4rem 4.8rem 4.4rem 4.8rem;
    }
}

.main_intro_container_box_title {
    font-size: 1.8rem;
    font-family: serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: .18rem;
    line-height: 1.4;
}

@media (min-width:768px) {
    .main_intro_container_box_title {
        font-size: 2.4rem;
        margin: 1rem 0 0 0;
    }
}

.main_intro_container_box_p {
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    letter-spacing: .2rem;
}

@media(min-width:768px) {
    .main_intro_container_box_p {
        font-size: 1.6rem;
        line-height: 2;
        text-align: left;
        margin: 1rem 0 0 0;
    }
}

.main_intro_container_box_box {
    margin: 2rem 0 0 0;
}

@media (min-width:768px) {
    .main_intro_container_box_box {
        display: flex;
        justify-content: center;
        gap: 3rem;
        align-items: center;
    }
}

.main_intro_container_box_box_top {
    display: block;
    width: 30rem;
    height: 5.8rem;
    background-color: #46C4DB;
    border-radius: 3.4rem;
    text-align: center;
    padding: 1.2rem 0 0 0;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

.main_intro_container_box_box_top:hover {
    background-color: #fff;
    border: 2px solid #46C4DB;
    color: #46C4DB;
}

.main_intro_container_box_box_top:last-child {
    background-color: #5DD5AB;
}

.main_intro_container_box_box_top:last-child:hover {
    background-color: #fff;
    border: 2px solid #5DD5AB;
    color: #5DD5AB;
}

/* サービス紹介 */
.main_service {
    background-image: url(/assets/image/service_sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem .1rem 31rem .1rem;
}

@media (min-width:768px) {
    .main_service {
        background-image: url(/assets/image/service_pc.jpg);
        padding: 11rem 9rem 12rem 5rem;
    }
}

@media (min-width:768px) {
    .main_service_container {
        display: flex;
        justify-content: flex-end;
        padding-right: 8rem;
        max-width: 120rem;
        margin: 0 auto;
    }
}

.main_service_title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    font-family: EB Garamond, serif;
    text-align: center;
    line-height: 1.3;
    margin: 2rem 0 .5rem 0;
}

@media (min-width:768px) {
    .main_service_title {
        font-size: 3.8rem;
        text-align: left;
    }
}

.main_service_container_p {
    font-size: 2.4rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

@media (min-width:768px) {
    .main_service_container_p {
        font-size: 2.4rem;
        text-align: left;
        margin-bottom: 1rem;
    }
}

.main_service_container_text {
    font-size: 1.4rem;
    color: #fff;
    width: 35.8rem;
    margin: 1rem 1.5rem 0 1.5rem;
    line-height: 2.3;
}

@media (min-width:768px) {
    .main_service_container_text {
        width: 41.9rem;
        font-size: 1.4rem;
        margin: 0 0 0 0;
    }
}

/* 口コミ */
.main_review {
    padding: 5.3rem 3rem 4.2rem 3rem;
}

@media (min-width:768px) {
    .main_review {
        height: 71rem;
        padding: 8.6rem 2rem 7rem 2rem;
    }

    .main_review_container {
        height: 55.6rem;
    }
}

.main_review_title {
    font-family: EB Garamond, serif;
    text-align: center;
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: .2rem;
}

@media (min-width:768px) {
    .main_review_title {
        font-size: 4.5rem;
        margin: 0 0 1rem 0;
    }
}

.main_review_p {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
}

@media (min-width:768px) {
    .main_review_p {
        font-size: 2rem;
    }
}

.main_slick {
    padding: 4rem 1rem 0rem 1rem;
    /* width: 100% */
    width: 28rem;
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .main_slick {
        width: 98rem;
        max-width: 90rem;
        margin: 0 auto;
        padding: 4rem 0rem 0rem 0rem;
    }
}

.main_slick .slick-slide {
    margin: 0 10px;
    box-sizing: border-box;
}

.main_slick .slick-list {
    margin: 0 -10px;
}

@media (min-width: 768px) {
    .slick_item {
        width: 30rem !important;
    }

    .main_slick .slick-list {
        margin: 0 -2rem;
    }
}

.slick_item {
    background-color: #DBF7F9;
    padding: 2.8rem 1.5rem 2.8rem 1.5rem;
    box-sizing: border-box;
}

@media (min-width:768px) {
    .slick_item {
        width: 30rem !important;
        height: 38.8rem;
        padding: 4rem 1.6rem 4rem 1.6rem;
    }
}

.main_review_container_img img {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .main_review_container_img img {
        display: block;
        margin: 0 auto;
        width: 10rem;
        height: 10rem;
    }
}

.main_review_container_p {
    text-align: center;
    font-size: 1.4rem;
    padding: .8rem 0 0 0;
}

.main_review_container_text {
    font-size: 1.4rem;
    padding: 2rem 0 0 0;
}

@media (min-width:768px) {
    .main_review_container_text {
        font-size: 1.6rem;
        padding: 1.6rem 0 0 0;
    }
}

.slide-arrow {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 10;
}

@media (min-width: 768px) {
    .slide-arrow {
        width: 4.8rem;
        height: 4.8rem;
    }
}

.prev-arrow {
    left: -4rem;
}

@media (min-width: 768px) {
    .prev-arrow {
        left: -13rem;
    }
}

.next-arrow {
    right: -4rem;
}

@media (min-width: 768px) {
    .next-arrow {
        right: -13rem;
    }
}

.slick-dots {
    position: absolute;
    bottom: -4rem;
    display: block;
    width: 90%;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    transform: scale(0.8);
}

@media (min-width: 768px) {
    .slick-dots {
        width: 97%;
    }
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #00AFBF;
}

.slick-dots li {
    margin: 0 .2rem;
}

.slick-dots li button {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
}

.slick-dots li button:before {
    font-size: 1rem;
    line-height: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    top: 0;
    left: 0;
    text-align: center;
    color: #EEEEEE;
    opacity: 1;
}

/* Q＆A */
.question {
    font-family: EB Garamond;
    margin-right: 1.2rem;
    font-size: 1.6rem;
}

@media (min-width:768px) {
    .question {
        margin-right: 1.6rem;
        font-size: 1.8rem;
    }
}

.question_text {
    font-size: 1.5rem;
    line-height: 1.9;
}

.main_qna {
    background: linear-gradient(to right,
            #F4FFE8 20%,
            #cbf2ff 80%);
    padding: 2.87rem 1rem 1.7rem 1rem;
}

.main_qna_container {
    width: 35.8rem;
    margin: 0 auto;
}

@media (min-width:768px) {
    .main_qna_container {
        width: 61rem;
        padding: 0rem 0rem 0rem 0rem;
    }
}

.main_qna_container_title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: EB Garamond, serif;
}

@media(min-width:768px) {
    .main_qna_container_title {
        font-size: 4.5rem;
        line-height: 1.9;
    }
}

.main_qna_container_p {
    font-size: 1.6rem;
    text-align: center;
    padding: 0 0 2rem 0;
    font-weight: 600;
    line-height: 1;
}

@media (min-width:768px) {
    .main_qna_container_p {
        font-size: 2rem;
        padding: 0 0 4.4rem 0;
    }
}

.qa_item {
    width: 35.8rem;
    background: #ffffff;
    padding: 2rem 1.64rem 3.5rem 1.6rem;
    margin: 2rem auto 2rem auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

@media (min-width:768px) {
    .qa_item {
        width: 60.5rem;
        margin: 0 auto 2rem auto;
        padding: 2.2rem 2.44rem 2.2rem 2.4rem;
    }
}

.qa_item_box {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-start;
}

@media (min-width:768px) {
    .qa_item_box {
        align-items: center;
        margin-bottom: 0rem;
    }
}

.qa_item_box_img {
    width: 1.5rem;
    margin-left: auto;
}

@media (min-width:768px) {
    .qa_item_box_img {
        width: 1.7rem;
    }
}

.qa_answer_wrapper {
    display: none;
}

.qa_answer {
    display: flex;
    padding-top: 1rem;
    color: #333;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 1.4rem;
}

.answer {
    font-size: 1.6rem;
    font-family: EB Garamond;
    margin-right: 1.2rem;
}

@media (min-width:768px) {
    .answer {
        margin-right: 1.6rem;
        font-size: 1.8rem;
    }
}

.answer_text {
    font-size: 1.5rem;
}

@media (min-width:768px) {
    .answer_text {
        font-size: 1.5rem;
        width: 51.8rem;
        line-height: 1.91;
    }
}

.qa_item.active .qa_answer_wrapper {
    display: block;
}

.toggle-btn {
    font-size: .7rem;
    transition: transform 0.3s;
    margin-top: .7rem;
}

.toggle-btn img {
    transition: transform 0.3s ease;
    width: 1.7rem;
}

@media (min-width:768px) {
    .toggle-btn img {
        margin-left: 6rem;
        width: 1.16rem;
    }
}

.toggle-btn.open img {
    transform: rotate(180deg);
}

/* ボタン */
.main_intro_two {
    padding: 5rem 1rem .7rem 1rem;
}

/* Topに戻るボタン */
.TopYajirushi_wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.7rem;
    position: sticky;
    bottom: 0;
    left: 0;
}

@media (min-width:768px) {
    .TopYajirushi_wrapper {
        display: flex;
        justify-content: flex-end;
        margin-right: 13rem;
        position: sticky;
        bottom: 0;
        left: 0;
    }
}

/* footer */
.footer {
    background-color: #0071CE;
    height: 16.5rem;
    padding: 2rem 1rem 2rem 1rem;
}

.footer_container {
    padding: 0
}

@media (min-width:768px) {
    .footer {
        background-color: #0071CE;
        height: 10.5rem;
        padding: 3.2rem 18.2rem;
    }

    .footer_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.footer_title_img {
    display: block;
    width: 16.2rem;
    margin: 1rem auto 3rem auto;
    font-size: 2.5rem;
}

@media (min-width:768px) {
    .footer_title_img {
        width: 18.5rem;
        height: auto;
        margin: 0 0 0 0;
    }
}

.footer_text {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin: 0 0 2rem 0;
}

.footer_container a {
    color: #fff;
}

@media (min-width:768px) {
    .footer_text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;
        margin: 0;
        font-size: 1.4rem;
        height: 100%;
    }
}

.footer_container_small {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}

@media (min-width: 768px) {
    .footer_container_small {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}