@charset "UTF-8";

body {
  font-family: serif, sans-serif;
  line-height: 1.75;
  color: #333;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}
 html {
    font-size: calc(10 * 100vw / 390);
    scroll-behavior: smooth;
}
@media (min-width:768px) {
     html {
          font-size: calc(10 * 100vw / 1200); 
     }
}
@media (min-width: 1200px) {
     html {
          font-size: 62.5%;
     }
}
.header_img{
  position: relative;
}
@media(min-width:768px){
  .header{
    background-image: url(/assets/image/mainVIsual_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 72rem;
  }
  .header_img{
    display: none;
  }
}
.header_img_img{
  width: 100%;
  height: 40rem;
}
.header_wrapper {
   position: absolute; /* 上端に固定するため */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* 必要に応じて他の要素より前に出す */ 
}
.header_wrapper_img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header_container{
  padding: 1rem 1rem 1rem 1rem;
}
@media (min-width:768px){
  .header_container{
    padding: 30rem 2rem 0 2rem;
  }
  .header_container_box{
      width: 80rem;
  margin: 0 auto;
  }
}
.header_container_h1{
  font-size: 4rem;
  font-weight:normal;
  letter-spacing: 1.5rem;
  margin: -4.4rem 0 0 0;
  position: relative;
  z-index: 9999;
  height: 14rem;
  font-family: sans-serif;
 line-height: 1.5;
}
@media (min-width:768px){
  .header_container_h1{
    font-size: 5rem;
    margin: 0 0 0 0;
    padding: 0 0 2rem 0;
    line-height: 1.3;
  }
}

.header_container_p{
  font-family: serif;
  font-size: 2rem;
  padding: 0 0 3rem 0rem;
}
.main_intro{
  padding: 1rem 1rem 3rem 1rem;
}
@media (min-width:768px){
  .main_intro{
    padding: 4rem 2rem 2rem 2rem;
  }
}
.main_intro_container{
  /* width: 35.8rem; */
  height: 26.1rem;
  background-color: #F0F4FF;
  padding: 2rem 1rem 0rem 1rem;
}
@media (min-width:768px){
  .main_intro_container{
    width: 100rem;
    height: 14.6rem;
    margin: 0 auto;
    padding: 0 0 0 0;
  }
}
.main_intro_container_box{
  width: 31rem;
  margin: 0 auto;
}
@media (min-width:768px){
  .main_intro_container_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
  }
}
.main_intro_container_box_h2{
  font-size: 1.8rem;
  font-family: serif;
  font-weight: SemiBold;
  text-align: center;
}
.main_intro_container_box_p{
  font-size: 1.4rem;
  text-align: center;
}
.main_intro_container_box_box{
  padding: 1rem 0 0 0;
}
@media (min-width:768px){
  .main_intro_container_box_box{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }
}
.main_intro_container_box_box_top{
  display: block;
  width: 30rem;
  height: 5.8rem;
  background-color: #46C4DB;
  border-radius: 3.4rem;
  text-align: center;
  padding: 1.2rem 0 0 0;
  font-size: 1.8rem;
  color: #fff;
  font-weight: SemiBold;
  margin: 0 0 2rem 0;
}
.main_intro_container_box_box_top:last-child{
  background-color: #5DD5AB;
}
.main_service{
  background-image: url(/assets/image/service_sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 68rem;
}@media (min-width:768px){
  .main_service{
    background-image: url(/assets/image/service_pc.jpg);
    height: 55rem;
  }
}
.main_service_container{
  padding: 3rem .1rem 1rem .1rem;
  height: 33.4rem;
}
@media(min-width:768px){
  .main_service_container{
    padding: 13rem 2rem 1rem 2rem;
    height: 40rem;
  }
}
@media (min-width:768px){
.main_service_container_box{
 width:90rem;
 margin: 0 auto;
}
.main_service_container_box_box{
  margin: 0 0 0 50rem;
  width: 46.7rem;
}
}
.main_service_h2{
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  font-family: EB Garamond, serif;
  text-align: center;
  line-height: 1.3;
  padding: 2rem 0 0 0;
}
@media (min-width:768px){
  .main_service_h2{
    font-size: 3.8rem;
    text-align: left;
  }
}
.main_service_container_p{
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
  font-weight: SemiBold;
}
@media (min-width:768px){
  .main_service_container_p{
    font-size: 2.4rem;
    text-align: left;
  }
}
.main_service_container_text{
  font-size: 1.4rem;
  color: #fff;
  width: 34.6rem;
  height: 20.4rem;
  margin: 0 auto;
  padding: 2rem 0 0 0;
}
@media (min-width:768px){
  .main_service_container_text{
    width: 41.9rem;
    font-size: 1.4rem;
    margin: 0 0 0 0;
  }
}
.main_review{
  padding: 2rem 1rem 2rem 1rem;
}
.main_review_container{
  width: 100%;
  height: 47.1rem;
  padding: 1rem 1rem 1rem 1rem;
}
.main_review_container_h2{
font-family: EB Garamond, serif;
text-align: center;
font-size: 3rem;
line-height: 1.1;
}
.main_review_container_p{
  font-size: 1.6rem;
  text-align: center;
}
.main_review_container_box{
  padding: 2rem .3rem 2rem .3rem;
}
.main_review_container_box_box{
  width: 28rem;
  height: 34.4rem;
  /* background-color: #DBF7F9; */
  margin: 0 auto;
}
.main_slick{
  padding: 3rem 2rem 2rem 2rem;
  width: 24.9rem;
  margin: 0 auto;
  background-color: #DBF7F9;
}
.slick-next, 
.slick-arrow{
 background-color: #00AFBF;
}
.slick-next::before, 
.slick-arrow::before{
  background-color: #00AFBF;
}

.main_review_container_box_box_box_img img{
 display: block;
 margin: 0 auto;
 width: 8rem;
 height: 8rem;
}
.main_review_container_box_box_box_p{
  text-align: center;
  font-size: 1.4rem;
  padding: .8rem 0 0 0;
}
.main_review_container_box_box_box_text{
  /* width: 25rem; */
  height: 16rem;
  font-size: 1.4rem;
  padding: 2rem 0 0 0;

}
.main_qna{
  background: linear-gradient(to right, 
    #F4FFE8 20%,
    #cbf2ff 80% 
  );
  padding:2rem 1rem 2rem 1rem;
}

.main_qna_container{
  width: 35.8rem;
  margin: 0 auto;
}
@media (min-width:768px){
  .main_qna_container{
    width: 61rem;
    padding: 0rem 0rem 0rem 0rem;
  }
}
.main_qna_container_h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: EB Garamond, serif;
}
.main_qna_container_p{
  font-size: 1.6rem;
  text-align: center;
  padding: 0 0 2rem 0;
  font-weight: SemiBold;
}
.qa_item{
 background: #ffffff;
  padding: 1.5rem .5rem 1.5rem .5rem;
  margin: 2rem 0; /* 上下の間隔を広めに */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); 
}
.qa_item .question {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
}

.qa_item .answer {
  display: none;
  padding-top: 0.5rem;
  color: #333;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 1.4rem;
}
.toggle-btn {
  font-size: 1.2rem;
  margin-left: 10px;
  transition: transform 0.3s;
}
.toggle-btn.open {
  transform: rotate(180deg); /* 開いたとき矢印を反転 */
}
.footer{
  background-color: #0071CE;
}
.footer_container{
  padding: 1rem 1rem 1rem 1rem;
}
@media (min-width:768px){
  .footer_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  }
}
.footer_h2{
  font-size: 2.8rem;
  letter-spacing: 1.5rem;
  font-family: sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 3;
  text-align: center;
}
.footer_text{
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 0 0 2rem 0;
}
.footer_container a{
  color: #fff;
}
@media (min-width:768px){
  .footer_text{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 0 0 0 ;
  }
}
.footer_container_small{
  display: block;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
}
@media (min-width:768px){
  .footer_container_small{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}