@charset "UTF-8" ;
/* *{
  outline: 2px solid red;
} */
body {
  font-family: serif, sans-serif;
  line-height: 1.75;
  color: #333;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}
 html {
    font-size: calc(10 * 100vw / 390);
    scroll-behavior: smooth;
}
@media (min-width:768px) {
     html {
          font-size: calc(10 * 100vw / 1200); 
     }
}
@media (min-width: 1200px) {
     html {
          font-size: 62.5%;
     }
}
.header {
  position: relative;
  background-image: url(/assets/image/main_sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60rem;
  padding: 3rem 2rem;
}
.header_wrapper {
  background-size: 100% 45rem; /* 横100%、縦45remだけ表示 */
  background-position: top left;
  padding: 2rem;
}
@media(min-width:768px){
  .header{
    background-image: url(/assets/image/main_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 72rem;
  }
}


.header_wrapper_img {
  display: block;
  width: 13.9rem;
  max-width: 100%;
  height: auto;
  padding: 2rem 0 0 0;
}
@media (min-width:768px){
  .header_container{
    padding: 19rem 5rem 30rem 7rem;
    max-width: 120rem;
    margin: 0 auto;
    line-height: 1.5;
  }
}
.header_container_h1{
  font-size: 4rem;
  font-weight:normal;
  letter-spacing: 1.5rem;
  /* margin: -3.7rem 0 0 0; */
  z-index: 9999;
  height: 14rem;
  font-family: Marcellus, serif;
 line-height: 1.1;
}
@media (min-width:768px){
  .header_container_h1{
    font-size: 5rem;
    margin: 0 0 0 0;
    line-height: 1.1;
  }
}

.header_container_small{
  display: block;
  font-family: serif;
  font-size: 2.5rem;
  letter-spacing: .8rem;
  line-height: 1.1;
}
.main_intro{
  padding: 1rem 1.4rem 4.5rem 1.5rem;
}
@media (min-width:768px){
  .main_intro{
    padding: 4rem 2rem 5.7rem 2rem;
  }
}
.main_intro_container{
  /* width: 35.8rem; */
  height: 26.1rem;
  background-color: #F0F4FF;
  padding: 1.5rem 1rem 0rem 1.7rem;
  font-size: 1.8rem;
}
@media (min-width:768px){
  .main_intro_container{
    width: 100rem;
    height: 14.6rem;
    margin: 0 auto;
    padding: 0 0 0 0;
  }
}
.main_intro_container_box{
  width: 31rem;
  margin: 0 auto;
}
@media (min-width:768px){
  .main_intro_container_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 3rem 5rem 3rem 5rem;
  }
}
.main_intro_container_box_h2{
  font-size: 1.8rem;
  font-family: serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: .3rem;
}
@media (min-width:768px){
.main_intro_container_box_h2{
  font-size: 2.4rem;
  margin: 1rem 0 0 0;
}
}
  .main_intro_container_box_p{
  font-size: 1.6rem;
  line-height: 2;
  text-align: center;
  }
@media(min-width:768px){
  .main_intro_container_box_p{
  font-size: 1.6rem;
  line-height: 2;
}
}
.main_intro_container_box_box{
  padding: 2rem 0 0 0;
}
@media (min-width:768px){
  .main_intro_container_box_box{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
     padding: 2rem 0 0 0;
  }
}
.main_intro_container_box_box_top{
  display: block;
  width: 30rem;
  height: 5.8rem;
  background-color: #46C4DB;
  border-radius: 3.4rem;
  text-align: center;
  padding: 1.2rem 0 0 0;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  margin: 0 0 2rem 0;
}
.main_intro_container_box_box_top:hover{
  background-color:#fff;
  border:2px solid #46C4DB;
  color: #46C4DB;
}
.main_intro_container_box_box_top:last-child{
  background-color: #5DD5AB;
}
.main_intro_container_box_box_top:last-child:hover{
    background-color:#fff;
  border:2px solid #5DD5AB;
  color: #5DD5AB;
}

.main_service{
  background-image: url(/assets/image/service_sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   padding: 3rem .1rem 27.6rem .1rem;
}
@media (min-width:768px){
  .main_service{
    background-image: url(/assets/image/service_pc.jpg);
    padding: 11rem 9rem 13rem 5rem;
  }
}
@media (min-width:768px){
.main_service_container{
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
  max-width: 120rem;
  margin: 0 auto;
  }
}
.main_service_h2{
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  font-family: EB Garamond, serif;
  text-align: center;
  line-height: 1.3;
  margin: 2rem 0 .5rem 0;
}
@media (min-width:768px){
  .main_service_h2{
    font-size: 3.8rem;
    text-align: left;
  }
}
.main_service_container_p{
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
@media (min-width:768px){
  .main_service_container_p{
    font-size: 2.4rem;
    text-align: left;
  }
}
.main_service_container_text{
  font-size: 1.4rem;
  color: #fff;
  width: 34.6rem;
  margin: 1rem 1.5rem 0 1.5rem;
  line-height: 2.3;
}
@media (min-width:768px){
  .main_service_container_text{
    width: 41.9rem;
    font-size: 1.4rem;
    margin: 0 0 0 0;
  }
}
.main_review{
  padding: 5.3rem 3rem 5rem 3rem;
}
@media (min-width:768px){
  .main_review{
    height: 71rem;
    padding: 8.6rem 2rem 7rem 2rem;
  }
  .main_review_container{
    height: 55.6rem;
  }
}

.main_review_h2{
font-family: EB Garamond, serif;
text-align: center;
font-size: 4.5rem;
line-height: 1.1;
letter-spacing: .2rem;
}
.main_review_p{
  font-size: 1.6rem;
  text-align: center;
}
.main_slick{
  padding: 3rem 1rem 0rem 1rem;
  /* width: 100% */
  width: 28rem;
  max-width: 120rem;
  margin: 0 auto;
 
}
@media (min-width: 768px) {
  .main_slick {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
  }
}
.main_slick .slick-slide {
  margin: 0 10px;
  box-sizing: border-box;
}
.main_slick .slick-list {
  margin: 0 -10px;
}
.slick_item {
  width: 100%;
  height: 34.4rem;
  background-color: #DBF7F9;
  padding: 2rem;
  box-sizing: border-box;
}
@media (min-width:768px){
  .slick_item{
    height: 38.8rem;
    /* margin: 3rem 3rem 3rem 3rem; */
    padding: 4rem 2rem 2rem 2rem;
  }
}
.main_review_container_img img{
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
.main_review_container_img img{
 display: block;
 margin: 0 auto;
 width: 8rem;
 height: 8rem;
}
}
.main_review_container_p{
  text-align: center;
  font-size: 1.4rem;
  padding: .8rem 0 0 0;
}
.main_review_container_text{
  font-size: 1.4rem;
  padding: 2rem 0 0 0;

}
.slide-arrow {
  width: 3.2rem; /* サイズを調整 */
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 10;
}
@media (min-width: 768px) {
  .slide-arrow {
  width: 4.8rem; /* サイズを調整 */
  height: 4.8rem;
  }
}
.prev-arrow {
  left: -4rem; /* スライドの外側に配置 */
}
@media (min-width: 768px) {
  .prev-arrow {
    left: -10rem; /* スライドの外側に配置 */
  }
}
.next-arrow {
  right: -4rem;
}
@media (min-width: 768px) {
  .next-arrow {
    right: -10rem;
  }
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 90%;
    padding: 0;
    list-style: none;
    text-align: center;
}
@media (min-width: 768px) {
  .slick-dots {
    width: 97%;
  }
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #00AFBF;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #EEEEEE;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.main_qna{
  background: linear-gradient(to right, 
    #F4FFE8 20%,
    #cbf2ff 80% 
  );
  padding:3rem 1rem 2rem 1rem;
}

.main_qna_container{
  width: 35.8rem;
  margin: 0 auto;
}
@media (min-width:768px){
  .main_qna_container{
    width: 61rem;
    padding: 0rem 0rem 0rem 0rem;
  }
}
.main_qna_container_h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: EB Garamond, serif;
}
@media(min-width:768px){
  .main_qna_container_h2{
    font-size: 4.5rem;
  }
}
.main_qna_container_p{
  font-size: 1.6rem;
  text-align: center;
  padding: 0 0 2rem 0;
  font-weight: 600;
}
.qa_item{
 background: #ffffff;
  padding: 1.5rem .5rem 1.5rem .5rem;
  margin: 2rem 0; /* 上下の間隔を広めに */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); 
  cursor: pointer;
}
@media (min-width:768px){
  .qa_item{
  width:61rem;
  margin: 0 auto 4rem auto;
  }
}

.qa_item_box {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
}
.qa_item_box{
  display: flex;

}
@media (min-width:768px){
  .qa_item_box{
    align-items: center;
  }
}
.qa_item_box_img{
  width: 1.5rem;
  margin-left: auto;
}
@media (min-width:768px){
  .qa_item_box_img{
    width: 1.7rem;
  }
}
.qa_answer_wrapper{
  display: none;
}
.qa_answer {
  display: flex;
  /* flex-direction: column; */
  padding-top: 0.5rem;
  color: #333;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 1.4rem;
}
.answer{
  font-size: 1.4rem;
}
.answer_text{
  font-size: 1.4rem;
}
.qa_item.active .qa_answer_wrapper {
  display: block;
}
.toggle-btn {
  font-size:.7rem;
  margin-left: 10px;
  transition: transform 0.3s;
}
.toggle-btn img {
  transition: transform 0.3s ease;
}

.toggle-btn.open img {
  transform: rotate(180deg);
}

.main_intro_two{
  padding: 5rem 1rem 1rem 1rem;
}
.TopYajirushi_wrapper{
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  position: sticky;
  bottom: 0;
  left: 0;
}
@media (min-width:768px){
  .TopYajirushi_wrapper{
  display: flex;
  justify-content: flex-end;
  padding-right: 15rem;
  position: sticky;
  bottom: 0;
  left: 0;
}
}
.footer{
  background-color: #0071CE;
  height: 16.5rem;
  padding: 2rem 1rem 2rem 1rem;
}
.footer_container{
  padding:0
}
@media (min-width:768px){
  .footer{
  background-color: #0071CE;
  height: 10.5rem;
  padding: 2rem 1rem 2rem 1rem;
}
  .footer_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  height: 100%;
  }
}
.footer_h2_img{
  display: block;
  width: 16.2rem;
  margin: 1rem auto 3rem auto;
  font-size: 2.5rem;
}
@media (min-width:768px){
  .footer_h2_img{
    width: 18.5rem;
    height: auto;
    margin: 0 0 0 0;
  }
}
.footer_text{
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin: 0 0 2rem 0;
}
.footer_container a{
  color: #fff;
}
@media (min-width:768px){
  .footer_text{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
  }
}
.footer_container_small{
  display: block;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
}
@media (min-width: 768px){
  .footer_container_small{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}